@import './variables';

.receipt-list {
  .w-l {
    width: 90%;
    & > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .w-r {
    width: 10%;
  }

  @media (max-width: $mediumDevices) {
    .w-l {
      width: 85%;
    }
    .w-r {
      width: 15%;
    }
  }

  @media (max-width: 440px) {
    .w-l {
      width: 80%;
    }
    .w-r {
      width: 20%;
    }
  }
}
