/**
Colors
*/
$red: #a7414a;
$black: #282726;
$green: #6a8a82;
$yellow: #a37c27;
$brown: #563838;

$whiteText: #fff;
$danger: #d94d3f;
$dangerShadow: #c04131;
$secondary: #6c757d;
$secondaryHover: #5a6268;
$primaryHover: #846520;
$primary: $yellow;

$successText: #28a745;

/**
Others
*/
$borderRadius: 2px;
$borderColor: #dd4b39;
$borderColorHover: #af301f;
$primaryBgColor: #dfdfdf;
/**
Break points
*/
$mediumDevices: 768px;
